{% extends "base.html"%}

{% block app_content %}

<a href="{{ url_for('times.create') }}" class="btn btn-primary">Novo time</a>
<br>
<br>
<div class="container">
	<ul class="list-unstyled row">
		{% for time in times %}
		 <li class="list-group-item col-md-4 borderless text-center">
			<img class="escudo-mini" src="{{ time.escudo }}"> 
			{{ time.nome }}
             <a href="{{ url_for('times.update', id=time.id) }}">Editar</a>
             <a href="{{ url_for('times.delete', id=time.id) }}">Deletar</a>
		 </li>
		{% endfor %}
	</ul>
</div>
{% endblock %} 