

{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<!-- Esse bloco é um gerenciamento de Erro, não precisa mexer -->
{% if errors %}
	<div class="container">
    	{%- for msg in errors %}
    		<div class="alert alert-danger" role="alert">
				{{ msg }}
				{% for error in errors[msg] %}
				{{error}}
				{% endfor %}
			</div>
    	{% endfor -%}
	</div>
{% endif %}
<!-- Faça o template a partir daqui-->
<div class="form-novo-jogo">
	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		<div class="add-placar">
			<h5>{{ form.mandante() }} {{form.gols_mandante(class="box-input")}} X {{form.gols_visitante(class="box-input")}} {{ form.visitante() }}</h5>
		</div>
		<div class="add-cartao-amarelo">
			<h5>Cartões amarelos {{form.amarelos_mandante(class="box-input")}} X {{form.amarelos_visitante(class="box-input")}}</h1>
		</div>
		<div class="add-cartao-vermelho">
			<h5>Cartões vermelhos {{form.vermelhos_mandante(class="box-input")}} X {{form.vermelhos_visitante(class="box-input")}}</h5>
		</div>
		<div class="add-rodada">
			<h5>{{ form.rodada.label }} {{ form.rodada(class="box-input") }}
				{{ form.data.label }}: {{ form.data() }}
			</h5>
		</div>
</div>
<div class="btn-enviar-jogo">
	{{ form.enviar(class="btn btn-secondary btn-sm") }}
</div>
{% endblock %}

