{% extends "base.html"%}

{% block app_content %}

<a href="{{ url_for('times.create') }}" class="btn btn-success">Novo time</a>
<br>
<br>
<div>
	<ul class="list-group">
		{% for time in times %}
			<li class="list-group-item">
				<img class="escudo-mini" src="{{ time.escudo }}"> 
				{{ time.nome }}
				<a href="{{ url_for('times.delete', id=time.id) }}" class="btn-deletar">Deletar</a>
				<a href="{{ url_for('times.update', id=time.id) }}" class="btn-editar">Editar</a>
			</li>
		{% endfor %}
	</ul>
</div>
{% endblock %} 